@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    overflow-x: hidden;
}
.cart-hide{
    display: block;
    opacity: 0;
    position: absolute;
}
.cart:hover .cart-hide{
    opacity: 1;
    transition: 1s;
}
